/*Selector{
	Propertty: value;
}*/

body{

	background-image: url(back.jpg);
	background-size: cover;
	background-color: green;
	background-blend-mode: screen;
}

h1{

	text-align: center;
	color: white;
	font-size: 110px;
	font-family: 'Black Ops One', cursive;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h2, h3, p, ul{

	color: white;
	font-family: 'Oswald', sans-serif;
}